{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social_login</title>
</head>
<body>
    {{user}}
    <!-- <button><a href="{% provider_login_url "google" %}">Login with Google</a></button><br><br> -->
    <button><a href="{% provider_login_url "facebook" method="js_sdk" %}">Login with Facebook</a></button>
    
</body>
</html>